.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
    font-weight: bolder;
  }

.username {
    text-transform: capitalize;
}

.nav-item, .nav-link, .active, .navbar-brand{
    color: azure !important;
}